<h1>Express Upload</h1>

<section>
  <h2>Upload your photo</h2>
  {{!-- When we have a file, we have to add `enctype="multipart/form-data"` --}}
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name"> <br>
    <input type="file" name="photo"> <br>
    <input type="submit" value="Save">
  </form>
</section>


<section>
  <h2>The pictures</h2>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section>
